## 1. Función Calcular la edad

In [3]:
from datetime import date

def calcular_edad(fecha_nacimiento):
    hoy = date.today()
    edad = hoy.year - fecha_nacimiento.year - ((hoy.month, hoy.day) < (fecha_nacimiento.month, fecha_nacimiento.day))
    return edad

In [4]:
fecha_nacimiento = date(1990, 3, 15)
edad = calcular_edad(fecha_nacimiento)
print("La persona tiene", edad, "años.")

La persona tiene 33 años.

## 2. Imprimir texto centrado

In [13]:
def EscribirCentrado(texto):
    longitud_texto = len(texto)
    espacios_antes = (40 - longitud_texto // 2) * " "
    print(espacios_antes + texto)

# Ejemplo de uso
texto = "Hola, mundo!"
EscribirCentrado(texto)

                                  Hola, mundo!

## 3. Escribir decorado

In [10]:
def imprimir_marcado(texto):
    texto_marcado = f'**_{texto}_**'
    print(texto_marcado)

In [11]:
imprimir_marcado('Hola, mundo!')

**_Hola, mundo!_**

## 4. Dos números son múltiplos ?

In [ ]:
num1 = int(input("Ingresa el primer número entero: "))
num2 = int(input("Ingresa el segundo número entero: "))

if num1 % num2 == 0 or num2 % num1 == 0:
    print("Sí son múltiplos.")
else:
    print("No son múltiplos.")

# 5. Temperaturas

In [1]:
def temperatura_media(temp_horas):
    suma_temperaturas = sum(temp_horas)
    num_horas = len(temp_horas)
    temperatura_media = suma_temperaturas / num_horas
    return temperatura_media

In [2]:
temperaturas = [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 34, 33, 32, 31, 30, 29, 28, 27]
media = temperatura_media(temperaturas)
print("La temperatura media del día en Bogotá fue:", media)

La temperatura media del día en Bogotá fue: 28.5

# 5. Convertir a espaciado

In [3]:
def ConvertirEspaciado(texto):
    resultado = ""
    for letra in texto:
        resultado += letra + " "
    return resultado

# Ejemplo de uso
texto_original = "Hola, tú"
texto_convertido = ConvertirEspaciado(texto_original)
print(texto_convertido)

H o l a ,   t ú

# 6. Calcular Max-Min

In [4]:
def calcularMaxMin(lista):
    if not lista:  # Verifica si la lista está vacía
        return None  # Retorna None si la lista está vacía

    maximo = minimo = lista[0]  # Inicializa los valores máximo y mínimo con el primer elemento de la lista

    for numero in lista:
        if numero > maximo:
            maximo = numero  # Actualiza el valor máximo si el número actual es mayor
        if numero < minimo:
            minimo = numero  # Actualiza el valor mínimo si el número actual es menor

    return maximo, minimo

# Ejemplo de uso
valores = [5, 2, 9, 1, 7]
maximo, minimo = calcularMaxMin(valores)
print("Máximo:", maximo)
print("Mínimo:", minimo)

Máximo: 9
Mínimo: 1

# 7. Área y perímetro de una circunferencia

In [5]:
import math

def calcularAreaPerimetroCircunferencia(radio):
    area = math.pi * radio**2
    perimetro = 2 * math.pi * radio
    return area, perimetro

# Ejemplo de uso
radio = 10
area, perimetro = calcularAreaPerimetroCircunferencia(radio)
print("Área:", area)
print("Perímetro:", perimetro)

Área: 314.1592653589793
Perímetro: 62.83185307179586

# 8. Función Login

In [6]:
def Login(nombre_usuario, contraseña, intentos):
    if nombre_usuario == "usuario1" and contraseña == "asdasd":
        return True
    else:
        intentos += 1
        return False

# Ejemplo de uso
nombre_usuario = input("Nombre de usuario: ")
contraseña = input("Contraseña: ")
intentos = 0

if Login(nombre_usuario, contraseña, intentos):
    print("Inicio de sesión exitoso.")
else:
    intentos += 1
    print("Inicio de sesión fallido. Número de intentos:", intentos)

Nombre de usuario:  Jose
Contraseña:  123456

Inicio de sesión fallido. Número de intentos: 1

# 9. Recursiva - Factorial

In [7]:
def calcularFactorial(n):
    if n == 0:
        return 1
    else:
        return n * calcularFactorial(n - 1)

# Programa principal
numero = int(input("Ingrese un número entero: "))

factorial = calcularFactorial(numero)

print("El factorial de", numero, "es:", factorial)

Ingrese un número entero:  12

El factorial de 12 es: 479001600

# 10. Cantidad en tiempos

10.1  La cantidad de segundos en un tiempo dado en horas, minutos y segundos.

In [8]:
def calcular_segundos(horas, minutos, segundos):
    total_segundos = (horas * 3600) + (minutos * 60) + segundos
    return total_segundos

# Ejemplo de uso
horas = 2
minutos = 30
segundos = 45

segundos_totales = calcular_segundos(horas, minutos, segundos)
print("La cantidad de segundos es:", segundos_totales)

La cantidad de segundos es: 9045

10.2 La cantidad de horas, minutos y segundos de un tiempo dado en segundos

In [9]:
def calcular_tiempo(segundos):
    horas = segundos // 3600
    segundos_restantes = segundos % 3600
    minutos = segundos_restantes // 60
    segundos = segundos_restantes % 60
    return horas, minutos, segundos

# Ejemplo de uso
segundos_totales = 9000

horas, minutos, segundos = calcular_tiempo(segundos_totales)
print("Horas:", horas)
print("Minutos:", minutos)
print("Segundos:", segundos)

Horas: 2
Minutos: 30
Segundos: 0

# 11. Invertir una Tupla

In [10]:
def invertir_tupla(tupla):
    tupla_invertida = tuple(reversed(tupla))
    return tupla_invertida

# Ejemplo de uso
mi_tupla = (1, 2, 3, 4, 5)
tupla_invertida = invertir_tupla(mi_tupla)
print("Tupla original:", mi_tupla)
print("Tupla invertida:", tupla_invertida)

Tupla original: (1, 2, 3, 4, 5)
Tupla invertida: (5, 4, 3, 2, 1)

# 12. Media Geométrica usando Functools

In [12]:
import functools

def calcular_media_geometrica(lista):
    multiplicacion = functools.reduce(lambda x, y: x * y, lista)
    media_geometrica = multiplicacion ** (1 / len(lista))
    return media_geometrica

# Ejemplo de uso
valores = [50, 4, 6, 8, 10]
media_geom = calcular_media_geometrica(valores)
print("Media geométrica:", media_geom)

Media geométrica: 9.918688392825665